html {
    background-color: #333;
    font-family: "Nunito", sans-serif;
}

.content {
    text-align: center;
}

.image, .list-image {
    margin-top: 50px;
}

.image img, .list-image img {
    border-radius: 10px;
}

#multi-img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    margin-left: 10vw;
    height: auto;
}

#multi-img img {
    max-width: 30vw;
    max-height: 30vw;
}

#movie img {
    margin-left: 25%;
    max-width: 50%;
    margin-right: 25%;
}

ul > li {
    margin-bottom: 20px;
}

.list-image {
    margin-bottom: 50px;
}

.caption {
    font-size: 20px;
    font-style: italic;
    color: #dbdbdb;
}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    margin-left: 10vw;
    height: auto;
}

.section {
    max-width: 40vw;
    font-size: 25px;
    color: #dbdbdb;
}

.section * {
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.section > ul {
    padding-left: 0;
    list-style-position: inside;
}

.first-slide, .last-slide {
    text-align: center;
}

.first-slide-img {
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    width: 25%;
}

.first-slide-title {
    float: right;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 150px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #333;
    width: 30%;
}

.last-slide-title {
    margin-top: 5%;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #333;
}

.title {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.subtitle {
    font-size: 40px;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #ebebeb;
}

.last-slide-text {
    font-size: 40px;
    font-weight: 200;
    color: #ebebeb;

}

.links {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    width: 200px;
}

.first-slide-link, .link, .link-mid-text {
    color: rgb(0, 183, 255);
    cursor: pointer;
}

.first-slide-link, .link {
    color: rgb(0, 183, 255);
    cursor: pointer;
    display: block;
    width: fit-content;
}

.first-slide-link:hover, .link:hover, .link-mid-text:hover {
    color: aqua;
}

.first-slide-link {
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    font-size: 35px;
    margin: auto;
}

#long {
    margin-left: 15%;
    max-width: 70%;
}

table td, table th {
    border: 1px solid #dbdbdb;
    padding: 26.5px;
}

.table-img {
    height: 100px;
}

.fade-out {
    animation: fade-out 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0; display: none;
    }
}

.fade-in {
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0; display: none;
    }
    100% {
        opacity: 1;
    }
}