* {
    background-color: #333;
    font-family: "Nunito", sans-serif;
    overflow: hidden;
}

.content {
    text-align: center;

}
.main-content > ul {
    padding-left: 0;
    list-style-position: inside;
}

.title {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.subtitle {
    font-size: 40px;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #ebebeb;
}

.main-content {
    font-size: 25px;
    color: #dbdbdb;
}

.link {
    color: aqua;
    cursor: pointer;
    font-size: 25px;
    display: block;
    margin: auto;
}

.fade-out {
    animation: fade-out 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0; display: none;
    }
}

.fade-in {
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0; display: none;
    }
    100% {
        opacity: 1;
    }
}